<style>
  .ta-editor{min-height:300px}
</style>
<div class="container">
  <div class="row-fluid">
    <h1>Reply message</h1>
    <div class="col-lg-4 col-md-4 col-sm-12 page-title-nav justified">
      <ul>
        <li class="active"><a href="#messages">View messages</a></li>
      </ul>
    </div>
    <form name="replyForm">
      <div class="row">
        <h3>{{message.subject}}</h3>

        <br/>

        <div>{{message.messageBody}}</div>

        <div>
          Date: {{message.createTime}}
        </div>
      </div>
      <div class="row">
        <input type="text" id="subject" placeholder="Subject" ng-model="replyMessage.subject" />
      </div>
      <div class="row">
        <div text-angular="text-angular" ng-model="replyMessage.message" id="message-body"></div>
      </div>
      <button class="btn btn-primary" ng-click="sendMessage()">Reply</button>
    </form>
  </div>
</div>